<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="fragments/static :: common_head(~{::title},~{::link},~{::script})">
    <title>欣网管理后台</title>
    <script>
        $(function () {
            var page =  [[${pageInfo.pages}]];
            if(page == 0)
            {
                $(".table-bordered > tbody").empty().append("<tr><td colspan= '7' align='center' class='col-sm-2 control-label'>未查到相关记录</td></tr>")
            }
            $(".paginateWrapper").page({
                index: '[[${pageInfo.pageNum}]]',
                maxIndex: '[[${pageInfo.pages}]]',
                size: '[[${pageInfo.pageSize}]]',
                parameter: 'pn',
                style: "pagination-sm no-margin pull-right"
            });
        });

        function deleteCrop(but){
            var msg = "确定要删除吗？";
            $.notify.confirm(msg,function(sure){
                if (sure) {
                    $.ajax({
                        type: "post",
                        url: '[[${webUrl}]]/omweb/crop/deleteCrop',
                        data: {
                            'cropId': but.id
                        },
                        success: function (callback) {
                            if (callback.success) {
                                $.notify.success(callback.message, "", function () {
                                    location.href = '[[${webUrl}]]/omweb/crop/index';
                                });

                            } else {
                                $.notify.error(callback.message)
                            }
                        }
                    });
                }
            });

        }

    </script>
</head>

<body th:replace="fragments/content :: page(~{ :: .content-wrapper })">

<div class="content-wrapper">
    <section class="content-header">
        <h1>
             公司管理中心
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="${homeUrl}"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">公司管理中心</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="cropName" class="col-sm-2 control-label" style="width: 100px;">公司名称：</label>
                                <div class="col-sm-3">
                                    <input type="text" name="cropName" th:value="${cropName}"
                                           class="form-control" id="cropName" placeholder="">
                                </div>
                                <div class="col-sm-2" style="width: 8.667%;">
                                    <button type="submit" class="btn btn-primary pull-right">查询</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a th:href="${webUrl} + '/omweb/crop/create'"
                                   class="btn btn-labeled btn-primary">
                                    <i class="btn-label fa fa-plus"></i> 新增
                                </a>
                            </div>
                        </div>
                        <div>
                            <table class="table table-bordered m-t-sm table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 100px">序号</th>
                                    <th style="width: 100px">公司名称</th>
                                    <th style="width: 100px">行业</th>
                                    <th style="width: 100px">规模</th>
                                    <th style="width: 160px">是否启用</th>
                                    <th style="width: 160px">地址</th>
                                    <th style="width: 160px">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                               <tr th:each="crop,cropStat:${cropsList}">
                                   <td th:text="${cropStat.index+1}"></td>
                                   <td th:text="${crop.cropName}"></td>
                                   <td th:text="${crop.cropIndustry}"></td>
                                   <td th:text="${crop.cropScale}"></td>
                                   <td th:text="${crop.isEnabled}=='0'?'否':'是'"></td>
                                   <td th:text="${crop.cropAddress} "></td>
                                   <td>
                                     <a th:href="${webUrl} + '/omweb/crop/create?cropId=' + ${crop.cropId}" class="curosr:pointer  pointer btn btn-default btn-xs purple btnDetail">修改</a>
                                       &nbsp;
                                         <a class="curosr:pointer  pointer btn btn-default btn-xs purple btnDetail" onclick='deleteCrop(this)'   th:id="${crop.cropId}"  >删除</a>
                                        &nbsp;
                                         <a th:href="${webUrl} + '/omweb/crop/cropDetail?cropId=' + ${crop.cropId}" class="curosr:pointer  pointer btn btn-default btn-xs purple btnDetail">查看</a>
                                   </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix paginateWrapper">
                       <!--<ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
