<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="fragments/static :: common_head(~{::title},~{::link},~{::script})">
	<title>欣网管理后台</title>
    <script th:src="${application.webStaticUrl}+'/static/admin-lte/plugins/select2/select2.full.min.js'"></script>
	<script th:src="${application.webStaticUrl}+'/static/vendors/jquery-treegrid/0.3.0/js/jquery.cookie.js'" type="text/javascript"></script>
	<script th:src="${application.webStaticUrl}+'/static/admin-lte/plugins/select2/select2.js'"></script>
	<script th:src="${application.webStaticUrl}+'/static/admin-lte/plugins/select2/i18n/zh-CN.js'"></script>
   <script th:src="${application.webStaticUrl}+'/static/admin-lte/plugins/ckeditor/ckeditor.js'"></script>
	<script>

		(function ($) {
			$.fn.extend({
				insertAtCaret : function (myValue) {
					var $t = $(this)[0];
					if (document.selection) {
						this.focus();
						sel = document.selection.createRange();
						sel.text = myValue;
						this.focus();
					} else
					if ($t.selectionStart || $t.selectionStart == '0') {
						var startPos = $t.selectionStart;
						var endPos = $t.selectionEnd;
						var scrollTop = $t.scrollTop;
						$t.value = $t.value.substring(0, startPos) + myValue + $t.value.substring(endPos, $t.value.length);
						this.focus();
						$t.selectionStart = startPos + myValue.length;
						$t.selectionEnd = startPos + myValue.length;
						$t.scrollTop = scrollTop;
					} else {
						this.value += myValue;
						this.focus();
					}
				}
			})
		})(jQuery);

		function CKupdate() {
			for (instance in CKEDITOR.instances)
				CKEDITOR.instances[instance].updateElement();
		}

		$(document).ready(function(){
			$(".js-example-basic-single").select2();
			var ckeditor = CKEDITOR.replace('message_template_email');
			ckeditor.setData($("#emailMes").val());
			$(".table-default> tbody > tr").on("click",function () {
			    var tdValue = $(this).children().eq(1).text();
                var SMSActive =  $("#SMSTable").hasClass("active");
                if(SMSActive == true)
                {
//                    $("#message_template_sms").val($("#message_template_sms").val()+tdValue);
					$("#message_template_sms").insertAtCaret(tdValue);
                }

                var emailActive  = $("#emailTable").hasClass("active");

                if(emailActive == true)
                {
//                    tdValue  = ckeditor.document.getBody().getText()+tdValue;
//					ckeditor.setData(tdValue);
					if ( ckeditor.mode == 'wysiwyg' )
					{
						// Insert as plain text.
						// http://docs.cksource.com/ckeditor_api/symbols/CKEDITOR.editor.html#insertText
						ckeditor.insertText( tdValue );
					}

                }

			});
		});

//		function InsertText()
//		{
//			// Get the editor instance that we want to interact with.
//			var oEditor = CKEDITOR.instances.editor1;
//			var value = "Solo";
//			// Check the active editing mode.
//			if ( oEditor.mode == 'wysiwyg' )
//			{
//				// Insert as plain text.
//				// http://docs.cksource.com/ckeditor_api/symbols/CKEDITOR.editor.html#insertText
//				oEditor.insertText( value );
//			}
//			else
//				alert( 'You must be in WYSIWYG mode!' );
//		}



		$(function () {
			$(".btnSubmit").on("click", function () {
				if ($("form").valid()) {
					CKupdate(); //在提交表单前需要做以上处理
					$("form").ajaxSubmit({
						success: function (callback) {
							// data 保存提交后返回的数据，一般为 json 数据
							// 此处可对 data 作相关处理
							if (callback.success) {
								$.notify.success(callback.message, "", function () {
									location.href = '[[${webUrl}]]/omweb/template/index';
								});

							} else {
								$.notify.error(callback.message)
							}
						}
					});
				}
				return false;
			});

			$("form").validate({
				rules: {
					name: {
						required: true
					},
					code: {
						required: true
					}

				},
				messages: {
					name: {
						required: "角色名称！"
					},
					code: {
						required: "角色编码！"
					}
				}
			});
		});


	</script>
</head>
<body th:replace="fragments/content :: page(~{ :: .content-wrapper })">
<div class="content-wrapper">
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<!-- /.box -->
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<h4>模板变量</h4>
						<div class="row">
							<div class="col-md-4 col-lg-4">
								<div class="panel panel-default">
									<table class="table table-hover table-default">
										<thead>
										<tr>
											<th>变量名称</th>
											<th>变量编码</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>监听目标编码</td>
											<td>${target_code}</td>
										</tr>
										<tr>
											<td>监听目标名称</td>
											<td>${target_name}</td>
										</tr>
										<tr>
											<td>监听目标模板名称</td>
											<td>${target_template}</td>
										</tr>
										<tr>
											<td>告警时间</td>
											<td>${alert_time}</td>
										</tr>
										<tr>
											<td>监听指标名称</td>
											<td>${metric}</td>
										</tr>
										<tr>
											<td>当前指标数值</td>
											<td>${metric_value}</td>
										</tr>
										<tr>
											<td>预警颜色</td>
											<td>${alert_color}</td>
										</tr>
										<tr>
											<td>当前超过的警戒线的值</td>
											<td>${cordon}</td>
										</tr>
										<tr>
											<td>统计间隔时间</td>
											<td>${interval}</td>
										</tr>

										<tr>
											<td>告警频度</td>
											<td>${alert_pressure}</td>
										</tr>
										<tr>
											<td>告警压力持续时间</td>
											<td>${sustained}</td>
										</tr>
										<tr>
											<td>告警主机IP</td>
											<td>${host_ip}</td>
										</tr>
                                        <tr>
                                            <td>告警主机端口</td>
                                            <td>${host_port}</td>
                                        </tr>

                                        <tr>
                                            <td>告警应用名称</td>
                                            <td>${application_name}</td>
                                        </tr>
                                        <tr>
                                            <td>告警应用版本号</td>
                                            <td>${application_ver}</td>
                                        </tr>
										<tr>
											<td>告警上级应用名称</td>
											<td>${last_application_name}</td>
										</tr>
										<tr>
											<td>告警的节点编码</td>
											<td>${node_code}</td>
										</tr>
										<tr>
											<td>告警的上级节点编码</td>
											<td>${last_node_code}</td>
										</tr>
										<tr>
											<td>方法调用返回状态</td>
											<td>${status}</td>
										</tr>
										<tr>
											<td>微环境编码</td>
											<td>${envir_code}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-8 col-lg-8">
                                    <div class="tab-content">
                                        <form role="form" method="post" class="formClass">
											<input type="hidden" name="actionType" th:value="${actionType}">
                                            <input type="hidden" name="channel" value="sms">
                                            <input type="hidden" name="channel" value="email">
                                            <div class="tab-content " >
                                                <div class="form-group">
                                                    <label for="name">模板名称</label>
													<select id="name" name="name"  th:field="*{template.name}" class="js-example-basic-single form-control">
														<option value="ServiceMethod">ServiceMethod</option>
														<option value="InvokeChain">InvokeChain</option>
														<option value="Host">Host</option>
														<option value="Redis">Redis</option>
														<option value="Nginx">Nginx</option>
													</select>
                                                </div>
                                                <div class="nav-tabs-custom">
                                                    <ul class="nav nav-tabs">
                                                        <li id="SMSTable" class="active"><a href="#tab_1" data-toggle="tab">短信模板</a></li>
                                                        <li id="emailTable"><a href="#tab_2" data-toggle="tab">邮件模板</a></li>
                                                    </ul>
                                                </div>

                                                <div id="tab_1" class="tab-pane active">
                                                    <div class="form-group">
                                                        <label >模板内容</label>
															<textarea id="message_template_sms" th:text="${smsMes}" name="message_template" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
															</textarea>
                                                    </div>
                                                </div>
                                                <div id="tab_2" class="tab-pane">
                                                    <div class="form-group">
                                                        <label>模板内容</label>
														<input type="hidden" id="emailMes" th:value="${emailMes}">
														<textarea id="message_template_email" name="message_template" rows="10" cols="80" >
                   										 </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->
                                        </form>
                                    </div>
                                    <div class="box-footer">
                                        <button type="button" class="btn btn-primary btnSubmit">提交</button>
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
							</div>
						</div>
					</div>
					<!-- ./box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
</body>
</html>
