<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="fragments/static :: common_head(~{::title},~{::link},~{::script})">
    <title>欣网管理后台</title>
    <script>
        $(function () {
            $(".paginateWrapper").page({
                index: '[[${pageInfo.pageNum}]]',
                maxIndex: '[[${pageInfo.pages}]]',
                size: '[[${pageInfo.pageSize}]]',
                parameter: 'pn',
                style: "pagination-sm no-margin pull-right"
            });
        });

        function deleteMonitorTarget(but){
            var msg = "确定要删除吗？";
            $.notify.confirm(msg,function(sure){
                if (sure) {
                    $.ajax({
                        type: "post",
                        url: '[[${webUrl}]]/omweb/monitorTarget/deleteMonitorTarget',
                        data: {
                            'target_code': but.id,
                            'target_name':$(but).attr("name")
                        },
                        success: function (callback) {
                            if (callback.success) {
                                $.notify.success(callback.message, "", function () {
                                    location.href = '[[${webUrl}]]/omweb/monitorTarget/index';
                                });

                            } else {
                                $.notify.error(callback.message)
                            }
                        }
                    });
                }
            });

        }

    </script>
</head>

<body th:replace="fragments/content :: page(~{ :: .content-wrapper })">

<div class="content-wrapper">
    <section class="content-header">
        <h1>
             监听目标管理中心
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="${homeUrl}"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">监听目标管理中心</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a th:href="${webUrl} + '/omweb/monitorTarget/create'"
                                   class="btn btn-labeled btn-primary">
                                    <i class="btn-label fa fa-plus"></i> 新增
                                </a>
                            </div>
                        </div>
                        <div>
                            <table class="table table-bordered m-t-sm table-hover">
                                <tbody>
                                <tr>
                                    <th style="width: 50px">序号</th>
                                    <th style="width: 100px">目标名称</th>
                                    <th style="width: 100px">模板名称</th>
                                    <th style="width: 100px">间隔时间</th>
                                    <th style="width: 100px">应用名称</th>
                                    <th style="width: 120px">应用版本号</th>
                                    <th style="width: 120px">上级应用名称</th>
                                    <th style="width: 100px">主机IP</th>
                                    <th style="width: 100px">主机端口号</th>
                                    <th style="width: 100px">节点编码</th>
                                    <th style="width: 160px">操作</th>
                                </tr>
                               <tr th:each="monitorTarget,monitorTargetStat:${monitorTargetList}">
                                   <td th:text="${monitorTargetStat.index+1}"></td>
                                   <td th:text="${monitorTarget.target_name}"></td>
                                   <td th:text="${monitorTarget.template_name}"></td>
                                   <td th:text="${monitorTarget.stat_interval}"></td>
                                   <td th:text="${monitorTarget.application_name}"></td>
                                   <td th:text="${monitorTarget.application_ver}"></td>
                                   <td th:text="${monitorTarget.last_application_name}"></td>
                                   <td th:text="${monitorTarget.host_ip}"></td>
                                   <td th:text="${monitorTarget.host_port}"></td>
                                   <td th:text="${monitorTarget.node_code}"></td>
                                   <td>
                                     <a th:href="${webUrl} + '/omweb/monitorTarget/create?target_code=' + ${monitorTarget.target_code}" class="curosr:pointer  pointer btn btn-default btn-xs purple btnDetail">修改</a>
                                       &nbsp;
                                       <a class="curosr:pointer  pointer btn btn-default btn-xs purple btnDetail" onclick='deleteMonitorTarget(this)' th:name="${monitorTarget.target_name}"   th:id="${monitorTarget.target_code}"  >删除</a>
                                   </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix paginateWrapper">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
